block config
	include ../config/variable.jade

<!DOCTYPE html>
html
	head
		title #{titulo}
		meta(charset="UTF-8")
		meta(name="description" content="#{descripcion}")
		link(rel="icon" href="imagen.png")
		link(rel="stylesheet" type="text/css" href="css/ed-grid.css")
		link(rel="stylesheet" type="text/css" href="css/ed-grid.min.css")
		link(rel="stylesheet" type="text/css" href="css/style.css")
	body
		header.ed-container
			.ed-item.s-10
				include ../bloques/logotipo.jade
			nav
				.ed-item.s-offset-45
					include ../bloques/menu.jade
		#imagen.ed-container
			.ed-item
				block imagen
		.ed-container
			main.ed-item.s-75
				block main
			aside.ed-item.s-25
				block aside
					.s-main-center
						h2 Siguenos en facebook
					.s-main-center
						a(href="http://facebook.com") Seguir
		footer.ed-container
			.ed-item
				block footer
					.s-main-center
						p practica de HTML5 y jade
					.s-main-center
						p periodo Enero - Agosto 2017
