<!DOCTYPE html>
html
	body
		title Instituto Tecnológico Superior de los Ríos
		meta(charset="UTF-8")
		meta(name="decription" content="Página de prueba")
		link(rel="icon" href="imagen.png")
	body
		header
			include ../bloques/logotipo.jade
			nav
		main
			block main
		aside
		footer






